* {
    font-family: 'IBM Plex Sans', sans-serif;
}

*, ::before, ::after {
    box-sizing: inherit;
}

html {
    text-rendering: optimizeLegibility;
}

:root {
    --fa-primary-color: #F86F76;
    --fa-secondary-color: #5E63A9;
    --fa-secondary-opacity: 0.60;
  }

body {
    background-color: #f0f0f0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Abel';
}

.ibm {
    font-family: 'IBM Plex Sans', sans-serif !important;   
}

.abel {
    font-family: 'Abel';
}

.title-text {
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    width: 50%;
    word-wrap: break-word;
}

.intro-name {
    /* text-align: left; */
    color: black;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.6em;
}

.gradient-name {
    background:-webkit-linear-gradient(0deg, rgba(255,153,134,1) 2%, rgba(237,40,92,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 6rem;
    display: block;
}

.gradient-text {
    background:-webkit-linear-gradient(0deg, rgba(255,153,134,1) 2%, rgba(237,40,92,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.accent1 {
    background: #5E63A9;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#type-text {
    font-size: 2rem;
    display: block;
}

.social-media-column {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: #0E0D0F;
}

.sm-items li {
    padding: 10px;
}

.sm-items {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

.sm-items::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #0E0D0F;
}

#intro-div h1 {
    margin: 0;
}

#intro-div span {
    line-height: 6rem !important;
}

#intro-div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-div-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer {
    padding: 0 !important;
    display: block !important;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 40px;
    text-align: center;
}

#footer-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mouse {
    margin: 50px auto;
    width: 100px;
    position: absolute;
    bottom: 1vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  
  .mouse-icon {
     width: 25px;
     height: 45px;
     border: 2px solid black; /*you can change 'white' to a hex color*/
     border-radius: 15px;
     cursor: pointer;
     position: relative;
     text-align: center;
     margin: 0 auto;
  }
  .mouse-wheel {
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: black; /*you can change 'white' to a hex color*/
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
   -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
  }
  @-webkit-keyframes wheel-up-down {
      0% {
          margin-top: 2px;
          opacity: 0;
      }
      30% {
          opacity: 1;
      }
      100% {
          margin-top: 20px;
          opacity: 0;
      }
  }
  @-moz-keyframes wheel-up-down {
      0% {
          margin-top: 2px;
          opacity: 0;
      }
      30% {
          opacity: 1;
      }
      100% {
          margin-top: 20px;
          opacity: 0;
      }
  }@keyframes wheel-up-down {
      0% {
          margin-top: 2px;
          opacity: 0;
      }
      30% {
          opacity: 1;
      }
      100% {
          margin-top: 20px;
          opacity: 0;
      }
  }

  @media (max-width: 1000px) {
      .mouse {
          display: none;
      }

      .social-media-column {
          display: none;
      }
      
      #type-text {
          margin-bottom: 50px;
      }

      .intro-div-info {
          display: block;
      }

      .card-blog {
          margin-right: 0px;
      }

      #box {
          margin-top: 10vh !important;
      }

      .intro-name {
          font-size: 2rem;
      }
  }

  #landing-page {
      height: 100vh;
  }
  
  .landing-page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  #box {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-image: url("../img/rohan.jpg");
    background-size: 250px;
    margin-top: -10vh;
  }
  .gradient-border {
    --borderWidth: 10px;
    background: #1D1F20;
    position: relative;
    border-radius: 50%;
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8);
    border-radius: 50%;
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
.workCard {
    background-color: #ebebeb;
    border-radius: 20px;
}

.workCard-desc {
    font-family: "Abel";
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.slick-slide {
    margin: 0 27px;
}

.slick-list {
    margin: 0 -27px;
}

  .proj-title-hr {
      margin-bottom: 5vh;
  }

  .project-body {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: #e4e6e7;
    padding: 30px;
    border-radius: 20px;
}

.proj-body {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
}

#projects-page {
    margin-top: 3vh;
}

#experience-page {
    margin-bottom: 5vh;
}

.bg-info {
    background: -webkit-linear-gradient(60deg, #a37de9, #5073b8) !important;
    /* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8) !important; */
}

.linkit {
    color: rgba(237,40,92,1);
}

.linkit:hover {
    color:  rgba(255,153,134,1);
}

.linkit-underline {
    text-decoration: underline;
    text-decoration-color: rgba(255,153,134,1);
}

.text-info {
    background:-webkit-linear-gradient(0deg, rgba(255,153,134,1) 2%, rgba(237,40,92,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contact-body {
    margin: 0 auto;
    text-align: center;
}

#background-canvas {

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0px;
    left: 0px;
    background-color: #f0f0f0;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}

.body-particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

canvas {
    width: 100%;
    height: 100%;
}

.contact-me-body {
    width: 50%;
}