* {
    font-family: 'IBM Plex Sans', sans-serif;
}

*, ::before, ::after {
    box-sizing: inherit;
}

html {
    text-rendering: optimizeLegibility;
}

body {
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.title-text {
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
    width: 50%;
    word-wrap: break-word;
}

.intro-name {
    /* text-align: left; */
    color: black;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.6em;
}

.gradient-name {
    background:linear-gradient(90deg, rgba(255,153,134,1) 2%, rgba(237,40,92,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 6rem;
    display: block;
}

.gradient-text {
    background:linear-gradient(90deg, rgba(255,153,134,1) 2%, rgba(237,40,92,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.accent1 {
    background: #5E63A9;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#type-text {
    font-size: 2rem;
}

.body-section {
    width: 100%;
    text-align: center;
}

.social-media-column {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: #0E0D0F;
}

.sm-items li {
    padding: 10px;
}

.sm-items {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

.sm-items::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #0E0D0F;
}

#intro-div h1 {
    margin: 0;
}

#intro-div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-div-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}